.priceWrapper {
  display: inline-block;
  width: 50%;
}

.variety {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.nt_label {
  text-align: center;
}

input {
  text-align: center;
}

i {
  color: #26a69a !important;
}

#var_price .input-field {
  height: 50px;
}

#var_price .help {
  margin-left: 2rem;
  background-color: #ffcdd2;
}

#var_price .help.success {
  background-color: #dcedc8;
}

.slider {
  width: 90%;
  text-align: center;
  margin: auto;
}

#summary {
  line-height: 36px;
}

.download-as-csv {
  float: right;
}

#past_runs_trigger {
  float: right;
  margin-top: -50px;
}

.past_run {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.past_run.selected {
  background: lightgreen;
}

#meal_plans>.col:nth-child(n)>.card {
    background: #C0FF93;
}

#meal_plans>.col:nth-child(2n)>.card {
    background: #E8CB86;
}

#meal_plans>.col:nth-child(3n)>.card {
    background: #FFA8A0;
}

#meal_plans>.col:nth-child(4n)>.card {
    background: #B386E8;
}

#meal_plans>.col:nth-child(5n)>.card {
    background: #A0E8FF;
}
